.link {
  text-decoration: none;

  &__title {
    color: $color-black;
    text-align: center;
    font-size: 5rem;
    padding: 1.5rem;
    transition: all 0.2s;
  }
}

.link:hover .link__title {
  color: $color-grey-dark-1;
  padding: 3rem;
}
