//  COLOURS

$color-white: #fff;
$color-black: #171714;

$color-grey-light-1: #dcdcdc;
$color-grey-light-2: #d3d3d3;
$color-grey-light-3: #c0c0c0;

$color-grey-dark-1: #a9a9a9;
$color-grey-dark-2: #808080;
$color-grey-dark-3: #696969;

//  FONTS

$default-font-size: 1.6rem;
$default-font-weight: 400;
