.menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4rem;
  height: 5rem;
  width: 5rem;
  @include removeHighlight;
  cursor: pointer;
  z-index: 1000;
  &__icon {
    @include centerElement;
    height: 2px;
    width: 3rem;
    background: $color-black;
    border: none;
    transition: transform 0.2s;

    &:first-child {
      margin-top: -1rem;
    }

    &:last-child {
      margin-top: 1rem;
    }
  }
}

.toggle-one {
  margin-top: 0 !important;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.toggle-two {
  display: none;
}

.toggle-three {
  margin-top: 0 !important;
  transform: translate(-50%, -50%) rotate(135deg);
}
